* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

strong {
    color: orange;
}

[id] {
    scroll-margin-top: 80px; 
}

/* start styling navbar*/
.navbar {
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul{
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding: 0;
    cursor: pointer;
    transition: background-color .3s ease, transform .01s ease-in;
}

.navbar a {
    all: unset;
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px 50px;
    transition: all .30s ease;
}

.navbar li:hover {
    background-color: grey;
}

.navbar li:active {
    background-color: rgb(107, 107, 107);
    transform: scale(0.98);
}
/* last styling navbar*/

/* start styling home*/
.home {
    width: 100%;
    margin-top: 57px;
    text-align: center;
    padding: 15em 0;
    background-image: url("assets/b6987f408b000afa08f0382fa6d0bbf9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.home h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

.home p {
    font-size: 18px;
    padding: 50px;
    margin-bottom: 50px;
}
/* start styling home*/

/* start styling HTML and CSS*/

.container {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
    width: 100%;
    padding: 20px;
    color: white;
    margin-top: 100px;
}

.container-img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    margin-right: 100px;
}

.container-img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-content {
    flex: 1; 
    max-width: 70%; 
}

.text-content h2 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.container:nth-child(even) {
    flex-direction: row; 
}

.container ul {
    margin-left: 50px;
}

.container ul li {
    margin-top: 10px;
}

/* footer style*/

footer {
    margin-top: 100px;
    background-color: rgba(78, 101, 114, 0.445);
    color: white;
    padding: 30px 0;
    text-align: center;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    all: unset;
    margin-top: 10px;
    cursor: pointer;
}

footer a:hover {
    color: orange;
}
